<div class="container">
  <div class="about">
    <div class="me-content">
      <%= image_tag 'profilepic.jpg' %>
      <h1>about me</h1>
      <hr>
        <p>Lorem ipsum dolor sit amet, eos iusto consul at, ex vel nemore honestatis. Enim reque facilis ius ei. Cu vim cibo mundi dolorum. Dicta incorrupte ex usu, agam nullam invidunt vis in, magna legere ex pri. An mei saepe soluta repudiandae, ad sea copiosae corrumpit similique, suas elitr similique cu eos. Appareat percipit an pro, amet sale utroque no sea.
        </p>
        <p>
        Nam labore option utamur id, te dicta tritani admodum mei. Postea option explicari an ius, eam choro sapientem id. Mel lorem senserit volutpat in, ad lucilius omittantur qui. Nam te labores alienum, et volumus hendrerit qui. Eam ad hinc nostrud, molestie electram te nam.

        </p>
        <p>
    </div>
  </div>
<div class="light-purple-wrapper">
 <div class="container">
    <div class="tools-content">
          <h2>tools</h2>
          <hr>
          <div class="col">
            <%= image_tag 'logo-ubuntu_cof-orange-hex.svg' %>
            <h3>linux/ubuntu</h3>
            <p>Main development platform</p>
          </div>
          <div class="col">
            <%= image_tag 'ROR.png' %>
            <h3>ruby on rails</h3>
            <p>Primarily used to build this homepage as well as other projects including a twitter clone.</p>
          </div>
          <div class="col">
            <%= image_tag 'js.png' %>
            <h3>javascript/jquery</h3>
            <p>carousel built with jquery plugin slick.  Responsive navbar also made with javascript.  Numerous small projects
            build including a calculator and an etch and sketch toy app.</p>
          </div>
          <div class="col">
            <%= image_tag 'ghub.png' %>
            <h3>gitub</h3>
            <p>main version control platform.  Used for all of my projects.</p>
          </div>
          <div class="col">
            <%= image_tag 'heroku.png' %>
            <h3>heroku</h3>
            <p>host to all of my rails projects</p>
          </div>
          <div class="col">
            <%= image_tag 'html5.png' %>
            <h3>html5</h3>
            <p>this homepage was built using the latest web standards.</p>
          </div>
          <div class="col">
            <%= image_tag 'css.png' %>
            <h3>css3</h3>
            <p>all of my projects are styled using css3</p>
          </div>
          <div class="col">
            <%= image_tag 'db.png' %>
            <h3>sqlite</h3>
            <p>sqlite3 is used to power this homepage.</p>
          </div>

        </div>
      </div>
</div>
