<header class="main-nav-bar nav-bar">
  <ul>
    <div id="logo">
      <li><%= link_to 'norman chan', root_path %></li>
    </div>
    <div id="right-side-items">
      <li><%= link_to "portfolio", portfolio_path %></li>
          <li><%= link_to "about", about_path %></li>
          <li><%= link_to "blog", posts_path %></li>
          <li><%= link_to "contact", contact_path %></li>
        <li id="emphasis"><a href="#">resume</a></li>
    </div>
  </ul>
</header>
