<div class="container blue-wrapper">
  <div class="contact-form">

    <h1>contact</h1>
    <%=  form_for @contact, remote: true do |f| %>
      <hr>
      <%= render 'shared/errors' %>

      <%= f.text_field :first_name, placeholder: "First name", autofocus: true %>
      <%= f.text_field :last_name, placeholder: "Last name"%>
      <%= f.text_field :email, placeholder: "Email" %>
      <%= f.text_area :body, placeholder: "Let me what you think!" %>

      <%= f.submit :send  %>

    <% end %>

  </div>
</div>
